html, body {
  margin: 0px;
  height: 0px;
}

#task2 {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 50px;
  grid-template-areas:
    "f m m"
    "f i s";
}

#task2 .friends {
  grid-area: f;
  background: #8E44AD;
  padding: 10px;
  display: grid;
  gap: 20px;
  align-content: start;
}

#task2 .friends .header {
  font-weight: bold;
}

#task2 .friends .friend {
  padding: 5px 10px;
  background: #9B59B6;
  border-radius: 1px;
}

#task2 .messages {
  grid-area: m;
  background: #ECF0F1;
  border: 1px solid #999999;
  padding: 40px 20px;
  display: grid;
  gap: 20px;
  align-content: start;
}

#task2 .messages .message {
  display: grid;
}

#task2 .messages .message.message-in {
  justify-content: start;
}


#task2 .messages .message.message-out {
  justify-content: end;
}

#task2 .messages .message .box {
  border-radius: 3px;
  display: grid;
  grid-template-areas: "t d";
  gap: 20px;
  align-items: end;
}

#task2 .messages .message.message-in .box {
  background: #BDC3C7;
}

#task2 .messages .message.message-out .box {
  background: #2ECC71;
}

#task2 .messages .message .box .text {
  grid-area: t;
  font-size: 20px;
  padding: 15px 5px 15px 5px;
}

#task2 .messages .message .box .date {
  grid-area: d;
  font-size: 12px;
  padding: 5px;
}

#task2 .input {
  grid-area: i;
  background: #FFFFFF;
}

#task2 .send {
  grid-area: s;
  background: #8E44AD;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  color: #FFFFFF;
}
